body {
    display: flex;
    width: 88vw;
    height: 88vh;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    #board {
        display: grid;
        grid-template-columns: repeat(8, 11vh);
        grid-auto-rows: 11vh;
    }
}
@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
    #board {
        display: grid;
        grid-template-columns: repeat(8, 11vw);
        grid-auto-rows: 11vw;
    }
}

#board {
    flex: initial;
}

#panel {
    width: 100%;
}

canvas {
    width: 100%;
}

#info {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seat {
    width: 50%;
    height: 50%;
    font-weight: bold;
}
