body {
    display: flex;
    width: 96vw;
    height: 96vh;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    #info {
        display: flex;
        flex-direction: column;
    }
    #board {
        width: 96vh;
        height: 96vh;
    }
}
@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
    #info {
        display: flex;
        flex-direction: row;
    }
    #board {
        width: 96vw;
        height: 96vw;
    }
}

#board {
    flex: initial;
}

#panel {
    width: 100%;
}

#info {
    flex: auto;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#black {
    border: solid;
    background-color: azure;
}

#white {
    border: solid;
    background-color: azure;
}

#seat {
    width: 50%;
    height: 50%;
    font-weight: bold;
}
