body {
    display: flex;
    width: 96vw;
    height: 96vh;
}

@media (orientation: landscape) {
    body {
        flex-direction: row;
    }
    #board {
        width: 96vh;
        height: 96vh;
    }
}
@media (orientation: portrait) {
    body {
        flex-direction: column;
    }
    #board {
        width: 96vw;
        height: 96vw;
    }
}

#board {
    flex: initial;
}

#panel {
    width: 100%;
}

#info {
    flex: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#seat {
    width: 50%;
    height: 50%;
    font-weight: bold;
}
